body {
  text-align: center;
  background-color: #011f3f;
   
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  /* background-color: black;
  border: 10px white dotted;
  border-radius: 50%; */
}

.btn {
  margin: 15px;
  display: inline-block;
  height: 210px;
  width: 210px;
  
  border-radius: 50%;
  
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgba(236, 99, 99, 0.632);
  /* box-shadow: 10px 10px 5px rgb(223, 77, 77); */
  border: 15px solid red
}

.green {
  background-color: rgba(20, 241, 86, 0.632);
  border: 15px solid darkgreen;
}

.blue {
  background-color: rgb(90, 90, 200);
  border: 15px solid blue;
  /* background-color: blue; */
}

.yellow {
  background-color: rgb(212, 212, 99);
  border: 15px solid yellow;
  /* background-color: yellow; */
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen {
  
}